@model List<BugTracker.Models.Ticket>

<div class="bg-img bg-image fill" style="background-image: linear-gradient(to right, #b92b27, #1565c0)">
    <div class="container">
        <div class="other-page-nav-padding">
            <div class="row justify-content-center">
                <div class="col-8">


                    <h1 class="smoke-color ext-bot-padding" id="ticket-header">Tickets that are in progress..</h1>

                    @if (Model.Count == 0)
                    {
                        <p class="white-smoke">All tickets are solved!</p>
                    }
                    else
                    {
                        <div>
                            
                               
                            <table class="table table-striped table-dark">
                                <tr class="font-weight-bold">
                                    <th>TicketNumber</th>
                                    <th>Submission Date</th>
                                    <th></th>
                                </tr>
                                @foreach (Ticket ticket in Model)
                                {
                                    <tr>

                                        <td>@ticket.TicketNumber</td>
                                        <td>@ticket.SubmissionDate</td>
                                        <td><a class="btn btn-sm btn-outline-info" asp-controller="Ticket" asp-action="Detail" asp-route-id="@ticket.Id" title="Click to view details"><i class="fas fa-info-circle"></i></a></td>
                                        
                                    </tr>
                                }
                                </table>
                                
                            
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>
</div>