@model List<BugTracker.Models.Ticket>

<div class="bg-img bg-image fill" style="background-image: linear-gradient(to right, #b92b27, #1565c0)">
    <div class="container">
        <div class="other-page-nav-padding">
            <div class="row justify-content-center">
                <div class="col-8">


                    <h1 class="smoke-color ext-bot-padding" id="ticket-header">Tickets that are in progress..</h1>

                    @if (Model.Count == 0)
                    {
                        <p>All tickets are solved!</p>
                    }
                    else
                    {
                        <div>
                            <ul class="list-group">
                                @foreach (Ticket ticket in Model)
                                {
                                    <li class="custom-list list-group-item">
                                        <a class="custom-list list-group-item list-group-item-action" asp-controller="Ticket" asp-action="Detail" asp-route-id="@ticket.Id">@ticket.TicketNumber</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
        </div>
</div>