@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="bg-img bg-image fill" style="background-image: linear-gradient(to right, #b92b27, #1565c0)">
    <div class="container">
        <div class="login-page-nav-padding">
            <div class="row justify-content-center">
                <div class="col-6">
                    <header class="access-page">
                        <h1 style="color:yellow">@ViewData["Title"]</h1>
                        <p style="color:yellow">You do not have access to this resource.</p>
                    </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
