@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="bg-img bg-image" style="background-image: url('https://i.imgur.com/OqH4GUk.jpg'); ">

    <div class="container">
        <div class="other-page-nav-padding" style="height:100vh;">

            <h1>@ViewData["Title"]</h1>
            <p>Your Email address is confirmed. Go back to login page.</p>
        </div>
    </div>
</div>
