@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="bg-img bg-image fill" style="background-image: linear-gradient(to right, #b92b27, #1565c0)">
    <div class="container">
        <div class="other-page-nav-padding">
            <div class="row justify-content-center">
                <div class="col-8">

                    <h1 class="white-smoke">@ViewData["Title"]</h1>
                    <p class="white-smoke">Your Email address is confirmed. Go back to login page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
